.main-title {
  background-color: #333333;
  padding: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.main-title h5 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.main-title h3 {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 3.8rem;
}
