ul {
  padding: 1.5rem;
  list-style: none;
  margin: 1rem;
}

ul li a .title-list {
  width: 75%;
  margin: 0;
  color: #333;
}

ul li a {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: auto;
  text-decoration: none;
}

ul li:hover {
  background-color: #fafafa;
}

ul li a .date-list {
  width: 25%;
  text-align: end;
  color: #333;
}

.btn-delete-hit {
  background: none;
  border: 0;
  margin-left: 1.6rem;
  cursor: pointer;
}

.title-list span {
  color: #999;
  font-size: 13pt;
  margin-left: 0.8rem;
}
